
@media screen and (max-width:900px){

    body{
        
       margin:auto;
    }

    header{
        flex-direction: column;
    }

   


    img{
        width: 400px;
    }
    main{
        flex-direction: column;
    }

    
    

   h1{
        text-align: center;
        color:gray;
        font-size: 25px;
        width: 380px;
        margin: auto;
    }
 
    button{
        margin: auto;
        margin-top: 10px;
        width: 150px;
        font-size: 15px;
    }

   p{
       text-align: center;   
       font-size: 15px;
      margin: auto;  
    }
}