
@media screen and (max-width:900px){

*{
    margin: 0;
    padding:0;
}

   header {
    text-align: center;
    flex-direction: column;
   }

   #menu{
      margin: auto;
   }

   main{
       flex-direction: column;
       
   }

 h1{
     margin: auto;
     width: auto;
     font-size: 24px;

 }  
p{
    margin: auto;
    width: auto;
    font-size: 16px;
}

button{
    margin: auto;
    margin-top: 10px;
    width: 150px;
    font-size: 16px;
}

  img{
      width:300px
  }

}