@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    color:#D38C35;
    font-size: 30px;
}

ul{
    display: flex;
    list-style: none;
}


li{
    padding: 10px;
    font-size: 20px;
    color:gray;
}

a{
    text-decoration: none;
    list-style: none;
    color: gray;

}

main{
    display: flex;
    flex-direction: row;
    margin-top:45px;
    }

aside{
    display: flex;
    margin-left: 4%;
flex-direction: column;
justify-content: center;
}


article{
    margin: auto;
}
h1{
    color:gray;
    font-size: 50px;
    width: 500px;
    

}

p{
    color: rgb(145, 141, 141);
    font-size: 30px;
    width: 390px;
    
}


button{
    width: 250px;
    margin-top: 30px ;
    background-color:#D38C35;
    color: white;
padding: 15px;
border: solid #D38C35;
border-radius: 10px;
font-size: 20px;
cursor: pointer;
}


